body {
    max-width: 940px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fffaf0;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.naver {
    padding-right: 1.5em;
    text-transform: uppercase;
}
.logoImage {
    width: 100px;;
    height:65px; 
    padding: 15px 65px 15px 0;
    display: flex;
    justify-content: space-between;

}
h1 {
    color: black;
    margin-top: 10px;
    padding-top: 15px;
}
h2 {
    border-color: black;   
}
p {
    text-align: justify;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: black;
}
#list {
    text-align: justify;
}
iframe {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
}
.banner {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}
#footer {
    font-size: 11px;
    text-align: center;
}
.footerRede {
    display: flex;
    padding: 1em 1em;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    font-size: 12px;
}
