body {
    background-color: #F0EEEE;
    width: auto;
}
section {
    text-align: left;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#imgStarship {
    width: 350px;
    height: auto;
    margin:  25px 25px 25px 0;
    display: block;
}
div {
    margin:  25px 25px 25px 25px;
}
h2 {
    margin:  25px 25px 25px 25px;
}
#forms{
    margin: 10px 10px 10px 25px;
}